* {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    background-color: #fff0f0;
}

.box {
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    height: 500px;
    background-color: #fff6f0;
    border: 2px solid #ded1d1;
    ;
}

h1,
a {
    display: block;
    margin-bottom: 8px;
    background-color: #f5fff0;
    color: #282a28;
    padding: 10px;
    border: 1px solid #c8d4c8;
}

a:hover {
    color: #788078;
    background-color: #f5f0ff;
}